<h3><a [routerLink]="['/addstore']"><button type="button" class="btn btn-info">Add New Store</button></a></h3>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
       
        <th scope="col">Store List</th>
        <th scope="col">Edit</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of store">
       
        <td>{{item.name}}</td>
    
        <td><a [routerLink]="['/editstore/'+ item.id]"><button type="button" class="btn btn-info">Edit</button></a></td>
      </tr>
     
    </tbody>
  </table>