

<form class="ui form" #f="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Supplier Name</label>
      <input type="text" class="form-control" name="supplierName" placeholder="supplierName" [(ngModel)]="supplier.supplierName">
    </div>  
    <div class="form-group">
    <label>Phone Number</label>
      <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="supplier.phoneNumber">
    </div>   
    <div class="form-group">
    <label>Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="supplier.email">
    </div>   
    <button class="ui button" type="submit">Submit</button>
  </form>
 